@media only screen
  and (max-width: 767px) {
    .logo1 {
		padding-top: 15%;
		padding-bottom: 15%
	}
	.logo2 {
		padding-top: 10%;
		padding-bottom: 10%
	}
}

@media (min-width: 767px)
  and (max-width: 991px) {
    .logo1 {
		padding-top: 15%;
		padding-bottom: 15%
	}
	.logo2 {
		padding-top: 10%;
		padding-bottom: 10%
	}
}

@media (min-width: 991px) {
    .logo1 {
		padding-top: 25%;
		padding-bottom: 25%
	}
	.logo2 {
		padding-top: 20%;
		padding-bottom: 20%
	}
}

@media (min-width: 767px) {
	.pack-list-mobile {
		display: none;
	}
	.mobile-note {
		display: none;
	}
}

@media (max-width: 767px) {
	.tagline {
		display: none;
	}
	.pack-list-desktop {
		display: none;
	}
	#fp-nav.fp-right {
		right: 5px !important;
	}
}

@media (min-width: 991px) {
	.section {
		height: calc(100 * var(--vh));
	}
	.portrait {
		height: calc(100 * var(--vh));
		width: 100vw;
	}
	.signature {
		height: calc(100 * var(--vh));
	}
	.svg-title-mobile {
		display: none;
	}
}

@media (max-width: 991px) {
	.section {
		height: calc(100 * var(--vh));
	}
	.portrait {
		height: calc(70 * var(--vh));
	}
	.signature {
		height: calc(30 * var(--vh));
	}
	.signature-inner {
		margin-top: -15%;
	}
	.svg-title-desktop {
		display: none !important;
	}
	.caption {
		display: none !important;
	}
	#mouse {
		display: none !important;
	}
}

@media (max-width: 1399px) {
	.fp-viewing-UsageExamples #fp-nav {
		display: none
	}
}

.fp-tooltip {
  font-family: 'Playfair Display', serif !important;
  font-size: 16px !important;
  top: -8px !important;
}

#thuyta-logo-ver-2, #thuyta-logo-ver-1 {
	pointer-events: none;
}

#fp-nav ul li a span {background: #dbc571 !important}
.fp-tooltip {color: #dbc571 !important}

.fp-viewing-LogoDesign .navbar-collapse {background-color: #0b4470 !important}
.fp-viewing-LogoAnimation .navbar-collapse {background-color: #0b4470 !important}
