@media (max-width: 766px) {
	.logo1 {
		padding-top: 10vh;
		padding-bottom: 10vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo2 {
		padding-top: 5vh;
		padding-bottom: 5vh;
		padding-left: 5vh;
		padding-right: 5vh;
	}
	.logo3 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo4 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo5 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo6 {
		padding-top: 15vh;
		padding-bottom: 20vh;
		padding-left: 15vh;
		padding-right: 15vh;
	}
	.logo7 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo8 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo9 {
		padding-top: 8vh;
		padding-bottom: 13vh;
		padding-left: 8vh;
		padding-right: 8vh;
	}
}

@media (min-width: 766px) and (max-width: 991px) {
	.logo1 {
		padding-top: 10vh;
		padding-bottom: 10vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo2 {
		padding-top: 5vh;
		padding-bottom: 5vh;
		padding-left: 5vh;
		padding-right: 5vh;
	}
	.logo3 {
		padding-top: 20vh;
		padding-bottom: 25vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo4 {
		padding-top: 15vh;
		padding-bottom: 20vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo5 {
		padding-top: 20vh;
		padding-bottom: 25vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo6 {
		padding-top: 15vh;
		padding-bottom: 20vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo7 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo8 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo9 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
}

@media (min-width: 991px) and (max-width: 1199px) {
	.logo1 {
		padding-top: 25vh;
		padding-bottom: 25vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo2 {
		padding-top: 20vh;
		padding-bottom: 20vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo3 {
		padding-top: 5vh;
		padding-bottom: 10vh;
		padding-left: 5vh;
		padding-right: 5vh;
	}
	.logo4 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo5 {
		padding-top: 5vh;
		padding-bottom: 10vh;
		padding-left: 5vh;
		padding-right: 5vh;
	}
	.logo6 {
		padding-top: 15vh;
		padding-bottom: 20vh;
		padding-left: 15vh;
		padding-right: 15vh;
	}
	.logo7 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo8 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo9 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
}

@media (min-width: 1199px) and (max-width: 1399px) {
	.logo1 {
		padding-top: 22vh;
		padding-bottom: 27vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo2 {
		padding-top: 18vh;
		padding-bottom: 23vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo3 {
		padding-top: 5vh;
		padding-bottom: 10vh;
		padding-left: 5vh;
		padding-right: 5vh;
	}
	.logo4 {
		padding-top: 5vh;
		padding-bottom: 10vh;
		padding-left: 5vh;
		padding-right: 5vh;
	}
	.logo5 {
		padding-top: 5vh;
		padding-bottom: 10vh;
		padding-left: 5vh;
		padding-right: 5vh;
	}
	.logo6 {
		padding-top: 20vh;
		padding-bottom: 25vh;
		padding-left: 20vh;
		padding-right: 20vh;
	}
	.logo7 {
		padding-top: 15vh;
		padding-bottom: 20vh;
		padding-left: 15vh;
		padding-right: 15vh;
	}
	.logo8 {
		padding-top: 15vh;
		padding-bottom: 20vh;
		padding-left: 15vh;
		padding-right: 15vh;
	}
	.logo9 {
		padding-top: 15vh;
		padding-bottom: 20vh;
		padding-left: 15vh;
		padding-right: 15vh;
	}
}

@media (min-width: 1399px) {
	.logo1 {
		padding-top: 22vh;
		padding-bottom: 27vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo2 {
		padding-top: 18vh;
		padding-bottom: 23vh;
		padding-left: 10vh;
		padding-right: 10vh;
	}
	.logo3 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 15vh;
		padding-right: 15vh;
	}
	.logo4 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 15vh;
		padding-right: 15vh;
	}
	.logo5 {
		padding-top: 10vh;
		padding-bottom: 15vh;
		padding-left: 15vh;
		padding-right: 15vh;
	}
	.logo6 {
		padding-top: 25vh;
		padding-bottom: 30vh;
		padding-left: 25vh;
		padding-right: 25vh;
	}
	.logo7 {
		padding-top: 20vh;
		padding-bottom: 25vh;
		padding-left: 20vh;
		padding-right: 20vh;
	}
	.logo8 {
		padding-top: 20vh;
		padding-bottom: 25vh;
		padding-left: 20vh;
		padding-right: 20vh;
	}
	.logo9 {
		padding-top: 20vh;
		padding-bottom: 25vh;
		padding-left: 20vh;
		padding-right: 20vh;
	}
}

@media (max-width: 991px) {
	.portrait {
		height: calc(70 * var(--vh)) !important;
	}
	.signature {
		height: calc(30 * var(--vh)) !important;
	}
	.signature-inner {
		margin-top: -15%;
	}
	.owl-slide {
		height: calc(70 * var(--vh)) !important;
	}
	.owl-lazy {
		height: calc(70 * var(--vh)) !important;
		background-size: cover;
		background-position: center center;
	}
	.svg-title-desktop {
		display: none !important;
	}
	.caption {
		display: none !important;
	}
	#mouse {
		display: none !important;
	}
	.fp-viewing-LogoDesign #fp-nav {top: calc(85 * var(--vh))}
	.fp-viewing-BookCover #fp-nav {top: calc(85 * var(--vh))}
	.fp-viewing-ValentineCard #fp-nav {top: calc(85 * var(--vh))}
	.fp-viewing-GiftVoucher #fp-nav {top: calc(85 * var(--vh))}
	.fp-viewing-Miscellaneous #fp-nav {top: calc(85 * var(--vh))}
	.fp-viewing-ContactMe #fp-nav {display: none !important}
}

@media (min-width: 991px) {
	.portrait {
		height: calc(100 * var(--vh));
	}
	.signature {
		height: calc(100 * var(--vh));
	}
	.svg-title-mobile {
		display: none;
	}
	.owl-slide {
		height: calc(100 * var(--vh)) !important;
	}
	.owl-lazy {
		height: calc(100 * var(--vh)) !important;
		background-size: cover;
		background-position: center center;
	}
}

@media (min-width: 991px) and (max-width: 1399px) {
	.caption p {
		font-size: 1rem;
	}
}

.fp-viewing-LogoDesign .navbar-collapse {background-color: #0b4470}
.fp-viewing-BookCover .navbar-collapse {background-color: #0b4470}
.fp-viewing-ValentineCard .navbar-collapse {background-color: #0b4470}
.fp-viewing-GiftVoucher .navbar-collapse {background-color: #0b4470}
.fp-viewing-Miscellaneous .navbar-collapse {background-color: #0b4470}

.fp-tooltip {
  font-family: 'Playfair Display', serif !important;
  font-size: 16px !important;
  top: -8px !important;
}

#fp-nav ul li a span {background: #dbc571 !important}
.fp-tooltip {color: #dbc571 !important}

.fp-viewing-Intro #logodesign {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-LogoDesign #logodesign {visibility: visible; opacity: 1; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-BookCover #logodesign {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-GiftVoucher #logodesign {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-ValentineCard #logodesign {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-Miscellaneous #logodesign {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-ContactMe #logodesign {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}

.fp-viewing-Intro #bookcover {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-LogoDesign #bookcover {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-BookCover #bookcover {visibility: visible; opacity: 1; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-GiftVoucher #bookcover {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-ValentineCard #bookcover {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-Miscellaneous #bookcover {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-ContactMe #bookcover {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}

.fp-viewing-Intro #giftvoucher {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-LogoDesign #giftvoucher {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-BookCover #giftvoucher {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-GiftVoucher #giftvoucher {visibility: visible; opacity: 1; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-ValentineCard #giftvoucher {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-Miscellaneous #giftvoucher {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-ContactMe #giftvoucher {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}

.fp-viewing-Intro #valentinecard {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-LogoDesign #valentinecard {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-BookCover #valentinecard {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-GiftVoucher #valentinecard {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-ValentineCard #valentinecard {visibility: visible; opacity: 1; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-Miscellaneous #valentinecard {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-ContactMe #valentinecard {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}

.fp-viewing-Intro #miscellaneous {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-LogoDesign #miscellaneous {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-BookCover #miscellaneous {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-GiftVoucher #miscellaneous {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-ValentineCard #miscellaneous {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-Miscellaneous #miscellaneous {visibility: visible; opacity: 1; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}
.fp-viewing-ContactMe #miscellaneous {visibility: hidden; opacity: 0; transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;}