/* TEMPLATE: Symmetrical nav with fullscreen menu in Mobile */

@media only screen
  and (max-width: 767px) {
    .navbar-collapse li { /* MOBILE: Adjust text in fullscreen menu */
		font-size: 1.8rem;
		word-spacing: -0.05rem;
		letter-spacing: 0.05rem;
		line-height: 25px;
		margin: 0px;
		white-space: nowrap;
    }
	.brand img {
		width: 120px
	}
}

@media (min-width: 767px)
  and (max-width: 991px) {
    .navbar-collapse li { /* MOBILE: Adjust text in fullscreen menu */
		font-size: 2.2rem;
		word-spacing: -0.05rem;
		letter-spacing: 0.05rem;
		line-height: 35px;
		margin: 0px;
    }
	.brand img {
		width: 150px
	}
}

@media (min-width: 991px) {
    .navbar-collapse li { /* MOBILE: Adjust text in fullscreen menu */
		font-size: 2.8rem;
		word-spacing: -0.05rem;
		letter-spacing: 0.05rem;
		line-height: 40px;
		margin: 0px;
    }
	.brand img {
		width: 180px
	}
}

.navbar-collapse { /* MOBILE: Enable fullscreen menu */
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: -1;
}

.navbar-nav { /* MOBILE: Position links in fullscreen menu */
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navbar { /* MOBILE: Fade out navbar color on switch */
	transition: 0.3s !important;
}

.nav-item a {
	color: #f9f6e8 !important;
}

.switch-color .nav-item:hover a { /* MOBILE: Text hover color in fullscreen menu */
	color: #dbc571 !important;
	transition: 0.3s !important;
}

.switch-color .animated-icon span { /* MOBILE: Change nav toggler color on switch */
	background: #f9f6e8 !important;
}