@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@font-face {
font-family: 'CGS';
src: url('fonts/CGS.ttf');
}


// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;


// Variables
//
// Colors

$theme-colors: (
  primary: black,
  secondary: #dbc571,
  light: #f4efd2,
  dark: #0b4470,
  info: #f4efd2,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: white;
$body-color: black;

$body-color-inverse: invert($body-color) !default;
$link-color: black;


// Fonts

$font-family-base: 'Playfair Display', serif;
$headings-font-family: 'Alata', sans-serif;
$display-font-family: 'Alata', sans-serif;
$btn-font-family: 'Alata', sans-serif;


$headings-font-weight: 200;
$lead-font-size: 1.3rem;

$spacer: 1.5rem;

$enable-responsive-font-sizes: true;
$font-size-base: 1rem;


/* Remove scroll bar in Chrome */
html::-webkit-scrollbar {display: none;}


/* Remove scroll bar in Firefox */
html {scrollbar-width: none;}

/* Favicon hover transition */
.fa {color: #dbc571; transition: 0.3s !important}
.fa:hover {color: #f4efd2; transition: 0.3s !important}


/* Override navbar's font style & Add hover transition */
.nav-link {font-family: 'Alata' !important;}
.nav-item a {color:black !important; transition: 0.3s !important}
.nav-item:hover a {color:#af3618 !important; transition: 0.3s !important}


/* Override dropdown's click highlight color */
.dropdown-item:active {background-color: transparent !important}


/* Remove outline around selected buttons */
*:focus {outline: 0 !important}


/* Override letter spacing in buttons */
.btn {letter-spacing: 0.1rem}


/* Button hover transition */
.btn-outline-light, .btn-outline-dark {transition: background .5s ease !important}
.btn-primary {background: #dbc571 !important; color: black !important; border: 3px solid #dbc571 !important; transition: background .5s ease !important}
.btn-primary:hover {background: black !important; color: #dbc571 !important; border: 3px solid #dbc571 !important; transition: background .5s ease !important}
.btn-dark {background: #dbc571 !important; color: #0b4470 !important; border: 3px solid #dbc571 !important; transition: background .5s ease !important}
.btn-dark:hover {background: #0b4470 !important; color: #dbc571 !important; border: 3px solid #dbc571 !important; transition: background .5s ease !important}


/* Override letter spacing in headings */
h1 {letter-spacing: 0rem}
h2 {letter-spacing: 0rem}
h3 {letter-spacing: 0rem}
h4 {letter-spacing: 0rem}
h5 {letter-spacing: 0rem}
h6 {letter-spacing: 0rem}


/* Drop caps for paragraphs */
drop {
   float: left;
   line-height: 85%;
   width: .7em;
   font-size: 450%;
   font-family: 'Playfair Display', serif;
}


/* Styling owl carousels */
.owl-prev, .owl-next {position: absolute; top: 50%; transform: translateY(-50%); border:0px solid black}
.owl-prev {left: 20px;}
.owl-next {right: 20px;}
.owl-prev i, .owl-next i {transform : scale(3,3); color: #ffffff}
.owl-carousel .owl-item {-webkit-transform: translate3d(0px, 0px, 0px)}

#logodesign .owl-dots {
  .active span {background: #dbc571 !important;}
  span {background: #f4efd2 !important;}
  span:hover {background: #dbc571 !important;}
}
#logodesign .owl-prev i {color: #dbc571}
#logodesign .owl-next i {color: #dbc571}

#bookcover .owl-dots {
  .active span {background: #dbc571 !important;}
  span {background: #f4efd2 !important;}
  span:hover {background: #dbc571 !important;}
}
#bookcover .owl-prev i {color: #dbc571}
#bookcover .owl-next i {color: #dbc571}

#valentinecard .owl-dots {
  .active span {background: #dbc571 !important;}
  span {background: #f4efd2 !important;}
  span:hover {background: #dbc571 !important;}
}
#valentinecard .owl-prev i {color: #dbc571}
#valentinecard .owl-next i {color: #dbc571}

#giftvoucher .owl-dots {
  .active span {background: #dbc571 !important;}
  span {background: #f4efd2 !important;}
  span:hover {background: #dbc571 !important;}
}
#giftvoucher .owl-prev i {color: #dbc571}
#giftvoucher .owl-next i {color: #dbc571}

#miscellaneous .owl-dots {
  .active span {background: #dbc571 !important;}
  span {background: #f4efd2 !important;}
  span:hover {background: #dbc571 !important;}
}
#miscellaneous .owl-prev i {color: #dbc571}
#miscellaneous .owl-next i {color: #dbc571}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {max-height: none !important}


/* Remove blank space below footer on iPad */
body {padding-bottom:0 !important; margin-bottom:0 !important}


@import 'bootstrap-4.3.1';

.cocoen {
}